#bd{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(245,245,245);
    width: 100%;
}

/* ---------------------------------------------------- */

.titulo{
    width: 100%;
    height: 75vh;
    margin:0;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/spa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.titulo h2{
    color: blanchedalmond;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: max-content;
    text-align: center;
}
.titulo h3{
    color: blanchedalmond;
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: max-content;
    margin-left: 4%;
    margin: 2% 4%;
}
.lista{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    box-sizing: border-box;
}
.titulo ul{
    width:40%;
    height:min-content;
    margin: 0;
}
.titulo li{
    color: blanchedalmond;
    font-size: 1.50em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
}
.titulo h4{
    color: blanchedalmond;
    font-size: 1.20em;
    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    width:50%;
    height: max-content;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10% 0 40%;
}



/* ----------------Aquí comenzamos con las medidas para los dispositivos chicos--------------- */

@media (max-width: 768px){
    .titulo{
        width: 100%;
        height: max-content;
        margin:0;
        padding:0;
        box-sizing: border-box;
        display: inline-block;
        background-color: rgb(141, 98, 55);
    }


    .titulo h2{
        color: blanchedalmond;
        font-size: 1.70em;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: max-content;
        text-align: center;
        padding: 1%;
    }
    .titulo h3{
        color: blanchedalmond;
        font-size: 1.25em;
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 100%;
        height: max-content;
        margin:0;
        margin-bottom: 2%;
        padding: 1%;
    }
    .lista{
        width: 100%;
        display: flex;
        margin:0;
        box-sizing: border-box;
        padding:0;
        justify-content: center;
    }
    .titulo ul{
        width:40%;
        height: max-content;
        margin: 0;
        margin-left: 8%;
        box-sizing: border-box;
    }
    .titulo li{
        color: blanchedalmond;
        font-size: 1em;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 0;
        box-sizing: border-box;
    }
    .titulo h4{
        color: blanchedalmond;
        font-size: 0.80em;
        font-family:Arial, Helvetica, sans-serif;
        text-align: right;
        width:40%;
        height: max-content;
        box-sizing: border-box;
        margin: 0 15% 0 45%;
    }
}


